<!--ngaBlog David Prior!-->
<div class="bg-primary">
	<div class="row">
    	<div class="col-lg-10 col-lg-offset-1">
			<h1>NGABlog listing posts</h1>
		</div>
	</div>
</div>
<div class="bg-info fill">
	<div class="container">
		<br>         					
  		<div id="post" class="bg-warning fill"> 
    	 	<div class="row">
         		<div class="col-lg-10 col-lg-offset-1">
					<h1>Editing post</h1>
					<%= render 'form' %>
					<br>
					<%= link_to 'Back', posts_path, :class => "btn btn-default btn-sm" %>
      			</div>  
			</div>  
		</div>  
	</div>  
  </div>  
</div>  



